<div class="modal fade" id="delete_prompt_{{ book.id }}"
     data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
     aria-labelledby="delete_prompt_{{ book.id }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_prompt_{{ book.id }}_label">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You are about to delete <strong>{{ book.title }}</strong>.</p>

      </div>
      <div class="modal-footer">
        <form action="{% url 'books:book_delete' book.pk %}" method="post">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i>Delete
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
