{% if is_paginated %}
  <div class="d-flex justify-content-center">
    <ul class="pagination pagination-md">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href=?page=1{{ filtering }}>&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href=?page={{ page_obj.previous_page_number }}{{ filtering }}>
            {{ page_obj.previous_page_number }}
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href=?page={{ page_obj.number }}{{ filtering }}>&laquo;</a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href=?page={{ page_obj.number }}{{ filtering }}>
          {{ page_obj.number }}
        </a>
      </li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href=?page={{ page_obj.next_page_number }}{{ filtering }}>
            {{ page_obj.next_page_number }}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href=?page={{ page_obj.paginator.num_pages }}{{ filtering }}>
            &raquo;
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href=?page={{ page_obj.paginator.num_pages }}{{ filtering }}>
            &raquo;
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
